/* MAIN STYLES */
body {
	background: #000;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

#container {
	min-width: 320px;
	width: 100%;
	white-space: nowrap;
	max-width: 100%;
}

#body_ container {
	display: table;	
}

/* HEADER */

#header {
	clear: both;
	background: #000;
	padding: 15px;
}

#header a:link, #header a:visited, #header a:active, #header a:hover {
	color: #FFF;
	text-decoration: none;
}

#header h1 {
	font-size: 24px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

#header h2 {
	font-size: 12px;
	padding: 5px 0px 0px 0px;
	margin: 0px;
}

#header #view_website {
	font-size: 12px;	
}

/* SIDEBAR */

#sidebar {
	background: #000;
	max-width: 200px;
	height: 100%;
	display: table-cell;
	padding: 10px;
	vertical-align: top;
}

#sidebar ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#sidebar ul li::before {
	content: "»";
	padding-right: 5px;
}

#sidebar li {
	padding: 5px;	
}

#sidebar a:link, #sidebar a:visited, #sidebar a:active, #sidebar a:hover {
	color: #FFF;
	text-decoration: none;
}

/* FLASH MESSAGE */

.flash {
	color: #000;
	border: 1px dotted #545454;
	padding: 15px;
	text-align: center;
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	background: #747474;
	border-radius: 0px 0px 5px 5px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 1000;
}

/* CONTENT */

#content {
	max-width: 90%;
	color: #000;
	width: 100%;
	display: table-cell;
	padding: 15px 15px 15px 15px;
	background: #FFF;
}

#content a:link, #content a:visited, #content a:active, #content a:hover {
	color: #000;	
}

#content h1 {
	font-size: 24px;
	font-weight: bold;	
	padding: 0px 0px 5px 0px;
	margin: 0px;
}

#content label {
	clear: both;
	max-width: 100%;
	font-weight: bold;
	display: block;
	margin-bottom: 2px;
}

#content input, #content textarea, #content select {
	clear: both;
	max-width: 100%;
	display: block;
	margin-bottom: 10px;
}

#content .mce-tinymce {
	margin-bottom: 10px;	
}

#content .addnew { 
	clear: both;
	margin: 5px 0px 10px 0px;
	font-weight: bold;
	width: 100%;
	max-width: 100%;
	float: left;
}

#content .view_item {
	padding-bottom: 10px;
	width: 100%;
	clear: both;
	float: left;
}

#content #admintable {
	clear: both;
	max-width: 100%;
	display: block;
	width: 100%;
}

#content #admintable td {
	padding: 5px;
}

.pagination {
	clear: both;
}

.pagination li {
	float: left;
	padding-right: 5px;
}

/* FOOTER */

#footer {
	clear: both;
	color: #FFF;
	background: #000;
	text-align: center;
	padding: 15px;
}

#footer a:link, a:visited, a:active, a:hover {
	color: #FFF;
}

#footer p {
	font-size: 12px;
	color: #FFF;
	padding: 0px;
	margin: 0px;	
}